bind {{ redis_bind_addresses | join(' ') }}
protected-mode {{ redis_protected_mode }}
port {{ redis_port }}
daemonize no
supervised systemd
loglevel notice
logfile /var/log/redis/redis-server.log
databases {{ redis_databases }}
save 900 1
save 300 10
save 60 10000
maxmemory {{ redis_maxmemory }}
maxmemory-policy {{ redis_maxmemory_policy }}
{% if redis_password is defined and (redis_password | string | length) > 0 %}
requirepass {{ redis_password }}
{% endif %}
