bind 127.0.0.1
protected-mode yes
port 6379
daemonize yes
supervised systemd
loglevel notice
logfile /var/log/redis/redis-server.log
databases 16
save 900 1
save 300 10
save 60 10000
maxmemory 256mb
maxmemory-policy allkeys-lru
{% if redis_password %}
requirepass {{ redis_password }}
{% endif %}
